/**
 * Site footer
 */
.site-footer {
	font-size: $small-font-size;
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

.footer-col {
    float: left;
	margin-right: 20px;
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Intro
 */
.intro-name {
	font-weight: 600;
	font-size: $small-font-size;
}

.intro-first, .intro-last {
	color: #466a7f;
}

.intro-highlight {
	display: block;
	height: $hightlight-height;
	
	-webkit-animation-name: spinner;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 15s;
	
	animation-name: spinner;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 15s;
	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
}

.intro-highlight:hover {
	-webkit-animation-play-state: running;
	animation-play-state: running;
}

.intro-h-txt {
	position: absolute;
	width: 50%;
	height: $hightlight-height;
	display: block;
	font-weight: 200;
	font-style: italic;
	font-size: 30px;
	color: #bfffff;
	background-color: #466a7f;
	background-color: rgba(70, 106, 127,.5);
	border-bottom: 1px solid #bfffff;
}

@include media-query($on-palm) {
    .intro-h-txt {
        width: 100%;
    }
}

.intro-h1 {
	-webkit-transform: translateZ($hightlight-height / 2);
	-moz-transform: translateZ($hightlight-height / 2);
	-ms-transform: translateZ($hightlight-height / 2);
	transform: translateZ($hightlight-height / 2);
	-webkit-backface-visibility: hidden;
}

.intro-h2 {
	-webkit-transform: rotateX(-90deg) translateZ($hightlight-height / 2);
	-moz-transform: rotateX(-90deg) translateZ($hightlight-height / 2);
	-ms-transform: rotateX(-90deg) translateZ($hightlight-height / 2);
	transform: rotateX(-90deg) translateZ($hightlight-height / 2);
	-webkit-backface-visibility: hidden;
}

.intro-h3 {
	-webkit-transform: rotateX(180deg) translateZ($hightlight-height / 2);
	-moz-transform: rotateX(180deg) translateZ($hightlight-height / 2);
	-ms-transform: rotateX(180deg) translateZ($hightlight-height / 2);
	transform: rotateX(180deg) translateZ($hightlight-height / 2);
	-webkit-backface-visibility: hidden;
}

.intro-h4 {
	-webkit-transform: rotateX(90deg) translateZ($hightlight-height / 2);
	-moz-transform: rotateX(90deg) translateZ($hightlight-height / 2);
	-ms-transform: rotateX(90deg) translateZ($hightlight-height / 2);
	transform: rotateX(90deg) translateZ($hightlight-height / 2);
	-webkit-backface-visibility: hidden;
}

p.intro-text {
	margin: 0;
}

.intro-body {
	margin: 38px 0;
}

.intro-job {
	margin: 0 0 76px 0;
}

/**
 * Animation
 */
.animation-container {
	-webkit-perspective: 2000px;
	-moz-perspective: 2000px;
	-ms-perspective: 2000px;
	perspective: 2000px;
	display: block;
}

@-webkit-keyframes spinner {
	from,16% { -webkit-transform: rotateX(0deg); }
	21%,37%  { -webkit-transform: rotateX(90deg); }
	41%,57%  { -webkit-transform: rotateX(180deg); }
	61%,77%  { -webkit-transform: rotateX(270deg); }
	81%,to   { -webkit-transform: rotateX(360deg); }
}

@keyframes spinner {
	from,16% { 
		-moz-transform: rotateX(0deg);
		-ms-transform: rotateX(0deg);
		transform: rotateX(0deg); 
	}
	21%,37% {
		-moz-transform: rotateX(90deg);
		-ms-transform: rotateX(90deg);
		transform: rotateX(90deg);
	}
	41%,57% { 
		-moz-transform: rotateX(180deg);
		-ms-transform: rotateX(180deg);
		transform: rotateX(180deg);
	}
	61%,77%	{ 
		-moz-transform: rotateX(270deg);
		-ms-transform: rotateX(270deg);
		transform: rotateX(270deg);
	}
	81%,to {
		-moz-transform: rotateX(360deg);
		-ms-transform: rotateX(360deg);
		transform: rotateX(360deg);		
	}	
}